{% extends "base.html" %}

{% block title %}
Page about me
{% endblock %}

{% block body %}
<br>
<h4 class="col-8 container">This web blog was built on the basis of the Flask framework, which works with the database and has
    the functionality to create, edit and delete articles</h4>
<hr class="container"><br>
<div class="container">
    <div class="row ">
        <div class="col-md-6">
            <p class="text-center">I am studying programming and ...</p>
            <img class="rounded mx-auto d-block" src="/static/777.jpeg" alt="" height="200">
        </div>
        <div class="col-md-6 ">
            <img class="rounded mx-auto d-block" src="/static/888.jpg" alt=""  height="200"><br>
            <p class="text-center">... dream to be a developer</p>
        </div>
    </div>
</div>
<br>


<h4 class="text-center"> Thank you for your attention!</h4>

{% endblock %}



