{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="container p-4 p-md-5 text-white rounded bg-dark mt-24">
    <div class="col-md-12 px-0">
        <h1 class="display-7 font-italic">All great achievements begin with an idea
            <img class="mb-2" src="/static/Idea.png" alt="" width="100" height="100"></h1></div>


    <div class="row ">
        <div class="col-md-6">
            <img class="rounded mx-auto d-block" src="/static/Idea1.jpg" alt="" width="240" height="150">

            <p class="lead my-3">Nothing contributes to the creation of the future as bold ideas and to turn an idea
                into reality, you need to have the courage to talk about it. </p>
        </div>
        <div class="col-md-6" >
           <p class="lead my-3">Whoever owns information owns the world. This site allows visitors to share their main
                ideas with millions of other people.</p>
           <img class="rounded-circle img-thumbnail mx-auto d-block" src="/static/books.jpeg" alt="" width="250">
        </div>
    </div>
</div>


{% endblock %}